/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Styles for the sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #fff;
}

.sidebar h2 {
  margin: 20px;
  text-align: center;
}

.sidebar .bar {
  width: 80%;
  height: 1px;
  background-color: #777;
  margin: 10px auto;
}

.sidebar a {
  padding: 25px;
  text-decoration: none;
  font-size: 18px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
  background-color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #ccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Styles for the header */
.header {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #222;
  color: #fff;
}

.header h2 {
  margin: 0;
  font-size: 24px;
}

.header .menu-icon {
  font-size: 28px;
  cursor: pointer;
}

.header .closebtn {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* Styles for the content */
.content {
  transition: margin-left 0.5s;
  padding: 10px;
  margin-left: 0;
}

.main-content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
      padding-top: 15px;
  }

  .sidebar a {
      font-size: 16px;
  }

  .dropdown-content {
      margin-left: 120px;
  }
}
